[project]
name = 'btc-tx-enabled-nft'
description = 'A Clarity smart contract that allows you to mint an NFT based on a bitcoin transaction.'
authors = []
telemetry = true
cache_dir = './.cache'

[[project.requirements]]
contract_id = "SP2PABAF9FTAJYNFZH93XENAJ8FVY99RRM50D2JG9.nft-trait"

[contracts.btc-tx-enabled-nft]
path = 'contracts/btc-tx-enabled-nft.clar'
clarity_version = 2
epoch = 2.5

epoch = 2.5
[repl.analysis]
passes = ['check_checker']

[repl.analysis.check_checker]
strict = false
trusted_sender = false
trusted_caller = false
callee_filter = false
